section {
    padding: 80px 0;
    height: 496px;
}

h1.my-jumbo-title {
    font-size: 53px;
    line-height: 1.1;
    font-weight: 300;
    text-transform: uppercase;
}

p.sottotitolo {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 40px;
}

ul.lista-jumbo {
    padding-left: 20px;
    li.lista {
        font-size: 19px;
        font-weight: 300;
    }
}

.img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-jumbo {
    margin: 0 auto;
    width: 90%;
    vertical-align: middle;
}



