.boolean-navbar {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    img {
        height: 100%;

    }
}



ul.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    list-style-type: none;
    text-transform: uppercase;
    li {
        padding: 0 20px;
        font-size: 14px;
    }
    li.button {
        height: 40px;
        background: $verde_boolean;
        margin: 0 0 0 40px;
        padding: 0 20px;
        border-radius: 5px;
        line-height: 40px;
    }

    li.button:hover {
        background: #73d462;
    }
    a.cta {
        color: white;
        border-bottom: 0;
    }
}
